</div>
</MAIN>

</div>

</main>
<footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="wrapper">

    <h2 class="footer-heading">wangtingzheng.com</h2>
    <div>
        This work is licensed
        under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
            Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><br /><img
                alt="Creative Commons License" style="border-width:0"
                src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
    </div>
    <br />
    <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
            <ul class="contact-list">
                <li class="p-name">&copy; WangTingZheng</li>
                <li><a href="/sub/impressum.html">Impressum</a></li>
                <li><a class="u-email" href="mailto:web-contact@p3dt.net">wangtingzheng@outlook.com</li>
            </ul>
        </div>

        <div class="footer-col footer-col-2">
            <ul class="social-media-list">
                <li><a href="https://space.bilibili.com/11787292"><svg
                            class="svg-icon grey">
                            <use xlink:href="/assets/minima-social-icons.svg#bilibili"></use>
                        </svg><span class="username">&nbsp;一只硬核少年</span></a></li>
                <li><a href="https://www.zhihu.com/people/wang-ting-zheng-45"><svg class="svg-icon grey">
                            <use xlink:href="/assets/minima-social-icons.svg#instagram"></use>
                        </svg> <span class="username">一只硬核少年</span></a></li>
                <li><a href="https://github.com/WangTingZheng"><svg class="svg-icon grey">
                            <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                        </svg> <span class="username">WangTingZheng</span></a></li>
                <li><a href="https://www.gcores.com/users/184587"><svg class="svg-icon grey">
                            <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
                        </svg> <span class="username">Engou</span></a></li>
            </ul>
        </div>

        <div class="footer-col footer-col-3">
            <p>👨‍🔬 I&#39;m a student of Iot: Intnet of things.<br>☕ I write Java code, develop embedded device.</br>
                👩‍💻At the same time, I &#39;m a GameSheller and Minecraft Mod developer</p>
        </div>
    </div>
</div>
</footer>

</body>

</html>